<div th:fragment="content" class="container">

    <form action="" class="card mb-5 mt-5" method="get">
        <div class="card-body p-5">
            <h3> Recherche </h3>
            <div class="mb-3">
                <label for="dateStart">Date début</label>
                <input class="form-control" type="date" name="dateStart" id="dateStart">
            </div>
            <div class="mb-3">
                <label for="dateEnd">Date fin</label>
                <input class="form-control" type="date" name="dateEnd" id="dateEnd">
            </div>
            <div class="mb-3">
                <label for="year">Année</label>
                <input class="form-control" type="text" name="year" id="year">
            </div>
            <input type="submit" class="btn btn-primary" value="Valider">
        </div>
    </form>

    <h1 class="mb-3 d-flex align-items-center gap-3"><a href="/recommendation/recommendation-component/create" class="btn btn-primary"><i class="fa fa-add"></i></a>Liste des recommendations</h1>
    <table class="table table-striped fx__table">
        <thead>
            <th> N° de série </th>
            <th> Marque </th>
            <th> Composant </th>
            <th> Modèle </th>
            <th> Date début </th>
            <th> Date fin </th>
        </thead>
        <tbody>
            <tr th:each="recommendation : ${data}">
                <td th:text="${recommendation.serialNumber}"></td>
                <td th:text="${recommendation.brand}"></td>
                <td th:text="${recommendation.componentCategory}"></td>
                <td th:text="${recommendation.modelCategory}"></td>
                <td th:text="${recommendation.dateStart}"></td>
                <td th:text="${recommendation.dateEnd}"></td>
            </tr>
        </tbody>
    </table>
</div>