<div th:fragment="content" class="container">
    <form action="" class="card mb-5 mt-5" method="get">
        <div class="card-body p-5">
            <h3> Recherche </h3>
            <div class="mb-3">
                <label for="idComponentCategory">Catégorie de pièce</label>
                <select class="form-select" name="idComponentCategory" id="idComponentCategory">
                    <option value="">Tous</option>
                    <option th:each="value : ${selectValues}" th:value="${value.id}" th:text="${value.label}"></option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Valider">
        </div>
    </form>

    <h1>
        <a href="/reparation/reparation/create" class="btn btn-primary"><i class="fa fa-add"></i></a>
        Liste des réparations</h1>
    
    <table class="table table-striped fx__table">
        <thead>
            <th> Date de réparation </th>
            <th> Modèle </th>
            <th> Prix </th>
            <th> Composant Réparés </th>
        </thead>
        <tbody>
            <tr th:each="reparation : ${data}">
                <td th:text="${reparation.value1().date}"></td>
                <td th:text="${reparation.value2().serialNumber}"></td>
                <td th:text="${reparation.value1().price}" align="right"></td>
                <td th:text="${reparation.value3()}"></td>
            </tr>
        </tbody>
    </table>

    <div th:insert="/components/pagination::pagination(body=~{::paginationBody})">
        <th:block th:fragment="paginationBody">
            <li class="page-item" th:each="spread : ${pagination}">
                <a th:href="'?page='+${spread}" th:class="'page-link '+(${spread == '...'} ? 'disabled': '')+(${spread == paginationPage} ? 'active': '')" th:text="${spread}"></a>
            </li>
        </th:block>
    </div>
</div>