<div th:fragment="content" class="container">

    
    <form action="" class="card mt-3">
        <div class="card-body">
            <h3>Filtre</h3>
            <div class="mb-3">
                <label for="date">Date</label>
                <input class="form-control" type="date" name="date" id="date">
            </div>
            <input type="submit" class="btn btn-primary" value="Valider">
        </div>
    </form>

    <h1 class="mt-3">Liste des clients</h1>
    <table class="table table-striped fx__table">
        <thead>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Adresse</th>
        </thead>
        <tbody>
            <tr th:each=" customer: ${data}">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.telephone}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
            </tr>
        </tbody>
    </table>

</div>