<div th:fragment="sidenav(active)" class="pf__navbar shadow">
    <div class="pf__navbar-brand"> <h1> <a href="/"> ATELIER </a></h1> </div>
    
    <div class="pf__navbar-section">
        <div class="pf__navbar-section">
            <h3 class="pf__navbar-subtitle"> Menu </h3>
            <ul class="pf__navbar-list">
                <li>
                    <a class="pf__navbar-item" href="#"> <i class="fas fa-ellipsis-h"></i> Divers </a>
                    <div>
                        <ul class="pf__navbar-list">
                            <div th:replace="~{:: link(${active}, '/misc/component', 'Pièce')}"></div>
                            <div th:replace="~{:: link(${active}, '/misc/model', 'Modèle')}"></div>
                            <div th:replace="~{:: link(${active}, '/misc/component-category', 'Catégorie de Pièce')}"></div>
                            <div th:replace="~{:: link(${active}, '/misc/model-category', 'Catégorie de Model')}"></div>
                            <div th:replace="~{:: link(${active}, '/misc/brand', 'Marque')}"></div>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="pf__navbar-item"> <i class="fas fa-tools"></i> Tiquet </a>
                    <div>
                        <ul class="pf__navbar-list">
                            <div th:replace="~{:: link(${active}, '/ticket/ticket', 'Tiquet')}"></div>
                            <div th:replace="~{:: link(${active}, '/ticket/ticket-component', 'Pièces à réparer')}"></div>
                            <div th:replace="~{:: link(${active}, '/ticket/mvt-ticket-state', 'État de tiquet')}"></div>
                            <div th:replace="~{:: link(${active}, '/ticket/customer', 'Clients')}"></div>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="pf__navbar-item"> <i class="fas fa-thumbs-up"></i> Recommandation </a>
                    <div>
                        <ul class="pf__navbar-list">
                            <div th:replace="~{:: link(${active}, '/recommendation/recommendation-component', 'Composant')}"></div>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="pf__navbar-item"> <i class="fas fa-user-tie"></i> Employé </a>
                    <div>
                        <ul class="pf__navbar-list">
                            <div th:replace="~{:: link(${active}, '/staff/engineer', 'Technicien')}"></div>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<li th:fragment="link(active, href, label)" th:class="${active == href ? 'active': ''}">
    <a
        class="pf__navbar-item d-flex align-items-center"
        th:href="${href}"
    >
        <i class="fas fa-circle" style="font-size: 0.3em;"></i>
        <span th:text="${label}"></span>
    </a>
</li>