<div th:fragment="content" class="container mt-5">
    <h1 class="d-flex gap-1 align-items-center mb-3">
        <button id="btn-add" type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#modal">
            <i class="fa fa-add"></i>
        </button>
        Liste des États de Tiquet
    </h1>
    
    <div th:replace="~{/components/modal :: modal(name='modal', title='', body=~{:: modalBody})}">
        <div th:fragment="modalBody">
            <form id="form">
                <h1 th:text="${formTitle}"></h1>
                
                <div th:replace="~{/components/form :: select('idTicket', '', ${tickets}, 'Tiquet')}"></div>
                <div th:replace="~{/components/form :: select('idTicketState', '', ${ticketStates}, 'État')}"></div>
                
                <div th:replace="~{/components/form :: input('datetime', '', 'datetime-local', 'Date')}"></div>

                <button class="btn btn-primary"> Valider </button>
            </form>
        </div>
    </div>

    <table id="table" class="table table-striped fx__table">
        <thead>
            <th> </th>
            <th> Modèle </th>
            <th> Nº de Série </th>
            <th> Marque </th>
            <th> Date </th>
            <th> État </th>
        </thead>
        <tbody>
            <!-- rendered using js -->
        </tbody>
    </table>

    <div th:replace="~{/components/pagination :: pagination}"></div>
    <script defer type="text/javascript" src="/assets/src/js/ticket/mvt-ticket-state/index.js"></script>
</div>